/*.App{
   background-image: url('./imgs-weather/default-weather.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   height: 100vh;
   width: 100vw;
 }*/


.container{
  display: flex;
  justify-content: center;
  height: 230px;
}


.col-md-3-1{
  width: 120vh;
}

.cards{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-size: large;
   
}



.form-control{
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 2%;
height: 35px;
width: 80%;
border-radius: 2.3vh;
border: 2px;
text-align: center;
font-weight: bolder;
font-size: large;
}

.root{
  width: 100vh;
  height: 100vh;
  margin: none;
  display: flex;
}

.app{
  width: 100vh;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: auto;

}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite ;
  margin: 0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.btn-warning{
  left: 0;
  right: 0;
  display: block;
  bottom: 3%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  width:200px;
  height: 100px;
  border-radius:  8.3vh;
  font-weight: bold;
  font-size: medium;
  border: 2px;
  cursor: pointer;
  background-color: white;
}

.alert-danger{
  display: flex;
  justify-content: center;
  font-size: medium;
  font-weight: 700;
  color: black;
  background-color: transparent;
}

.mistake-danger{
  width: 200px;
  text-align: center;
  display: flex;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



@keyframes fadeOut {
 100%{
   opacity:0;
   visibility: hidden;
 }
}
