body{
  background-image: url('./imgs-weather/photo-1592210454359-9043f067919b.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}


.container{
  display: flex;
  justify-content: center;
  height: 230px;
}


.col-md-3-1{
  width: 120vh;
}

.cards{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: large;
}


.form-control{
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 2%;
height: 35px;
width: 80%;
border-radius: 2.3vh;
border: 2px;
text-align: center;
font-weight: bolder;
font-size: large;
}

.root{
  width: 100vh;
  height: 100vh;
  margin: none;
  display: flex;
}

.app{
  width: 100vh;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: auto;
}

.btn-warning{
  left: 0;
  right: 0;
  display: block;
  bottom: 3%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  width:200px;
  height: 100px;
  border-radius:  8.3vh;
  font-weight: bold;
  font-size: medium;
  border: 2px;
  cursor: pointer;
}

.alert-danger{
  display: flex;
  justify-content: center;
  font-size: medium;
  font-weight: 700;
}




.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
